@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --heading-stats: hsl(0, 0%, 100%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --stats-headings: hsla(0, 0%, 100%, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--main-bg);
}

.main {
  background-color: var(--main-bg);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: var(--card-bg);
  max-width: 1100px;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
}

.card-texts {
  padding: 60px;
  width: 90%;
}

.heading {
  color: var(--heading-stats);
  font-size: 2.2rem;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 20px;
}

.purple {
  color: var(--accent);
  font-size: 2.2rem;
  font-family: "Lexend Deca", sans-serif;
}

.desc {
  color: var(--paragraph);
  line-height: 1.7rem;
  margin-bottom: 60px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.number {
  color: var(--heading-stats);
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.stats-desc {
  color: var(--stats-headings);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.card-image {
  background-image: url("./images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 70%;
}

.attribution {
  background-color: var(--main-bg);
  color: var(--stats-headings);
  text-align: center;
  padding: 20px;
}

a {
  color: var(--stats-headings);
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--accent);
}

@media screen and (max-width: 629px) {
  .card {
    flex-direction: column-reverse;
  }
  .card-image {
    background-image: url("./images/image-header-mobile.jpg");
    height: 400px;
    width: 100%;
  }
  .card-texts {
    width: 100%;
  }
  .heading {
    text-align: center;
  }
  .desc {
    text-align: center;
  }
  .stats {
    flex-direction: column;
    text-align: center;
  }
  .stat {
    margin-bottom: 30px;
  }
  .stat:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 445px) {
  .card-image {
    height: 300px;
  }
}
